Name: Qiaochu Dai

Githubname: Levi519519

USCID: 7326115044

## 1. Time Series Classification Part 1: Feature Creation/Extraction
An interesting task in machine learning is classification of time series. In this problem, we will classify the activities of humans based on time series obtained by a Wireless Sensor Network.
#### (a) Download the AReM data from: https://archive.ics.uci.edu/ml/datasets/Activity+Recognition+system+based+on+Multisensor+data+fusion+\%28AReM\%29 . The dataset contains 7 folders that represent seven types of activities. In each folder, there are multiple files each of which represents an instant of a human performing an activity.1 Each file containis 6 time series collected from activities of the same person, which are called avg rss12, var rss12, avg rss13, var rss13, vg rss23, and ar rss23. There are 88 instances in the dataset, each of which con- tains 6 time series and each time series has 480 consecutive values.
#### (b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

In [6]:
from scipy.stats import bootstrap
import pandas as pd
import numpy as np
import os

In [7]:
path = "../data/AReM/" 
#files= os.listdir(path)
test=[]
train=[]
for root, dirs, files in os.walk(path, topdown=False):
    for name in files:
        if 'pdf' not in name and 'DS_Store' not in name:
            if 'bending1' in root or 'bending2' in root:
                if 'dataset1.csv' in name or 'dataset2.csv' in name:
                    test.append(os.path.join(root, name))
                else: 
                    train.append(os.path.join(root, name))
            else:
                if 'dataset1.csv' in name or 'dataset2.csv' in name or 'dataset3.csv' in name:
                    test.append(os.path.join(root, name))
                else:
                    train.append(os.path.join(root, name))

In [8]:
test

['/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/bending1/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/bending1/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/walking/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/walking/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/walking/dataset3.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/bending2/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/bending2/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/standing/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/standing/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/standing/dataset3.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/sitting/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/sitting/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/sitting/dataset3.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/lying/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/lying/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/lying/dataset3.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/cycling/dataset1.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/cycling/dataset2.csv',
 '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/AReM/cycling/dataset3.csv']

#### (c) Feature Extraction
Classification of time series usually needs extracting features from them. In this problem, we focus on time-domain features.

##### i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).

* Minimum
* Maximum
* Mean
* Median
* Mode
* Range
* Interquartile Range (IQR)
* Cross-correlation
* Variance
* Skewness

##### ii. Extract the time-domain features minimum, maximum, mean, median, stan- dard deviation, first quartile, and third quartile for all of the 6 time series in each instance. You are free to normalize/standardize features or use them directly.2

In [9]:
def get_tdf(data):
    c_min=min(data)
    c_max=max(data)
    c_mean=np.mean(data)
    c_median=np.median(data)
    c_std=np.std(data)
    c_1st_quartile=np.percentile(data, 25)
    c_3st_quartile=np.percentile(data, 75)
    return c_min,c_max,c_mean,c_median,c_std,c_1st_quartile,c_3st_quartile

In [10]:
time_domain_features = ['min', 'max', 'mean', 'median', 'std', '1st_quartile', '3rd_quartile']
all_result = []
instance=1

for root, dirs, files in os.walk(path, topdown=False):
    for name in files:
        if 'pdf' not in name and 'DS_Store' not in name:
            file=os.path.join(root, name)
            df=pd.read_csv(file,skiprows=4)
            result={}
            result['instance']=instance
            instance+=1
            if instance==25:
                column_names = ['# Columns: time','avg_rss12','var_rss12','avg_rss13','var_rss13','avg_rss23','var_rss23']
                df=pd.read_csv(file,skiprows=5,delimiter=' ',index_col=False)
                df.columns = column_names
            for i in range(1,7):
                c_min,c_max,c_mean,c_median,c_std,c_1st_quartile,c_3st_quartile=get_tdf(df.iloc[:,i])
                result['min'+str(i)]=c_min
                result['max'+str(i)]=c_max
                result['mean'+str(i)]=c_mean
                result['median'+str(i)]=c_median
                result['std'+str(i)]=c_std
                result['1st_quartile'+str(i)]=c_1st_quartile
                result['3st_quartile'+str(i)]=c_3st_quartile
            all_result.append(result)
final_result = {key: [d[key] for d in all_result] for key in result}
final_result=pd.DataFrame(final_result)
#excel_file_path = '/Users/daiqiaochu/Desktop/dsci552/hw/hw3/output.xlsx'
#final_result.to_excel(excel_file_path, index=False)
final_result

/var/folders/30/_l8lwdk51y7b9tjzyyf34j1w0000gn/T/ipykernel_56776/1743095489.py:15: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df=pd.read_csv(file,skiprows=5,delimiter=' ',index_col=False)

,instance,min1,max1,mean1,median1,std1,1st_quartile1,3st_quartile1,min2,max2,...,std5,1st_quartile5,3st_quartile5,min6,max6,mean6,median6,std6,1st_quartile6,3st_quartile6
0,1,36.25,48.00,43.969125,44.50,1.616677,43.3100,44.67,0.0,1.50,...,3.314843,20.5000,23.7500,0.0,2.96,0.555313,0.490,0.487318,0.0000,0.8300
1,2,37.00,48.00,43.454958,43.25,1.384653,42.5000,45.00,0.0,1.58,...,2.486268,22.2500,24.0000,0.0,5.26,0.679646,0.500,0.621885,0.4300,0.8700
2,3,33.00,47.75,42.179813,43.50,3.666840,39.1500,45.00,0.0,3.00,...,3.845436,30.4575,36.3300,0.0,2.18,0.613521,0.500,0.523771,0.0000,1.0000
3,4,33.00,45.75,41.678063,41.75,2.241152,41.3300,42.75,0.0,2.83,...,2.408514,28.4575,31.2500,0.0,1.79,0.383292,0.430,0.388759,0.0000,0.5000
4,5,37.25,45.00,40.624792,40.50,1.475428,39.2500,42.00,0.0,1.30,...,2.186168,33.0000,36.0000,0.0,1.92,0.570583,0.430,0.582308,0.0000,1.3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,18.50,44.25,35.752354,36.00,4.609992,33.0000,39.33,0.0,12.60,...,3.116805,14.0000,18.0625,0.0,9.39,3.069667,2.770,1.746503,1.7975,4.0600
84,85,24.25,45.00,37.177042,36.25,3.577569,34.5000,40.25,0.0,8.58,...,2.887335,17.9500,21.7500,0.0,9.34,2.921729,2.500,1.850669,1.5000,3.9000
85,86,23.33,43.50,36.244083,36.75,3.818032,33.4575,39.25,0.0,9.71,...,3.613931,15.7500,21.0000,0.0,11.15,3.530500,3.110,1.961639,2.1700,4.6175
86,87,26.25,44.25,36.957458,36.29,3.431283,34.5000,40.25,0.0,8.64,...,2.848701,14.0000,18.2500,0.0,8.34,2.934625,2.525,1.629680,1.6600,4.0300
87,88,27.75,44.67,37.144833,36.33,3.754986,34.0000,40.50,0.0,10.76,...,2.686488,15.0000,18.7500,0.0,8.75,2.822437,2.590,1.635476,1.5800,3.7400

##### iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python’s bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.

In [11]:
std_result_final=[]
for col in final_result.columns:
    if col != 'instance':
        std_result={}
        data = (final_result[col],)
        bootstrap_ci = bootstrap(data, statistic=np.std, confidence_level=0.90, method='percentile')
        std_result['time features']=col
        std_result['low']=bootstrap_ci.confidence_interval[0]
        std_result['high']=bootstrap_ci.confidence_interval[1]
        std_result_final.append(std_result)
pd.DataFrame(std_result_final)

    time features       low       high
0            min1  8.207404  10.695432
1            max1  3.325373   5.270396
2           mean1  4.680526   5.848642
3         median1  4.776175   5.948135
4            std1  1.561829   1.935933
5   1st_quartile1  5.558154   6.612287
6   3st_quartile1  4.308976   5.806311
7            min2  0.000000   0.000000
8            max2  4.603963   5.380493
9           mean2  1.389431   1.695671
10        median2  1.232002   1.536229
11           std2  0.796079   0.934580
12  1st_quartile2  0.824049   1.029123
13  3st_quartile2  1.886807   2.282036
14           min3  2.738616   3.087951
15           max3  4.158938   5.426795
16          mean3  3.388516   4.470404
17        median3  3.413121   4.510310
18           std3  0.757361   1.115418
19  1st_quartile3  3.603290   4.677486
20  3st_quartile3  3.526018   4.661095
21           min4  0.000000   0.000000
22           max4  1.966661   2.346444
23          mean4  1.067823   1.214759
24        median4  1.048887   1.194754
25           std4  0.418385   0.482813
26  1st_quartile4  0.771116   0.885927
27  3st_quartile4  1.422634   1.619057
28           min5  4.393353   7.481641
29           max5  4.728458   6.542352
30          mean5  4.380370   6.721677
31        median5  4.475770   6.852392
32           std5  0.812941   1.211962
33  1st_quartile5  4.747077   7.152086
34  3st_quartile5  4.365382   6.494348
35           min6  0.000000   0.078029
36           max6  2.233600   2.744588
37          mean6  1.053782   1.208462
38        median6  0.990042   1.142075
39           std6  0.474866   0.541733
40  1st_quartile6  0.684500   0.804124
41  3st_quartile6  1.391170   1.589816

##### iv. Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).

I think the three most important time domain features are mean, median and 3rd_quartile because these features could help us discriminate classes.

#### 2. ISLR 3.7.4

I collect a set of data (n = 100 observations) containing a single predictor and a quantitative response. I then fit a linear regression model to the data, as well as a separate cubic regression, i.e. Y = β0 +β1X +β2X2 +β3X3 +ε.

##### (a) Suppose that the true relationship between X and Y is linear, i.e. Y = β0 + β1X + ε. Consider the training residual sum of squares (RSS) for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

Answer: The RSS of linear regression would be higher than that of cubic regression because the cubic regression is more complex and could fit the training data more closely.

##### (b) Answer (a) using test rather than training RSS.

Answer: In this case, the RSS of linear regression would be lower than that of cubic regression. Although a more complex model could fit the training data more closely, it would also result in overfitting. As a result, the cubic regression would have bad performance when fitting the test data.

##### (c) Suppose that the true relationship between X and Y is not linear, but we don’t know how far it is from linear. Consider the training RSS for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

Answer: The RSS of linear regression would be higher than that of cubic regression because the cubic regression is more complex and could fit the training data more closely.

##### (d) Answer (c) using test rather than training RSS.

Answer: There is not enough information to tell.